body{
    width: 100%;
    margin: 0;
}
.title{
    background-color: blue;
    height: 50px;
    width: 100%;
}
.title .main{
    width:1200px;
    margin: 0 auto;
    height: 50px;
    background-color: rgb(150, 91, 91);
}
.title .main .left{
    background-color: red;
    float: left;
    width: 200px;
    height: 50px;
}