<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="message">
        <p>{{message}}</p>

        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
        <br>
        <input type="radio" value="Jack" v-model="checkedName">
        <label for="jack">Jack</label>
        <input type="radio" value="John" v-model="checkedName">
        <label for="john">John</label>
        <input type="radio" value="Mike" v-model="checkedName">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedName }}</span>
        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>

    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                message: '',
                checkedNames: [],
                checkedName: '',
                selected:
            }
        })
    </script>
</body>

</html>