body,p,ul,ol,dl,dt,h1,h2,h3,h4,h5,h6,dd{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
input{
    border: none;
    outline: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
}

.left{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 375px;
}
.left img{
    position: relative;
    height: 100%;
    width: 375px;
}
.right{
    margin-left: 375px;
    height: 100%;
    overflow: auto;
}

.rightn{
    position: relative;
    min-height: 100vh;
    padding-bottom: 40px;
}
.rightn .header{
    padding: 20px;
    overflow: auto;
}
.right .h-l{
    float: left;
    height: 40px;
    font-size: 26px;
    font-weight: 500;
    color: #333;
    line-height: 40px;
    
}
.right .h-l img{
    margin-right: 10px;
    height: 40px;
    width: 40px;
    
}











.clearfix::before {
    content: "";
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}